.post-card {
  border-radius: 0.5rem;
  width: 500px;
  display: flex;
}

.post-image {
  background-image: url("https://picsum.photos/200");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  flex: 1;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.post-content {
  background-color: var(--post-secondary-color);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

.postcard-action-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postcard-action-icons div:last-child {
  display: flex;
  gap: 1rem;
  color: var(--post-icons-color);
  font-size: 1.5rem;
  margin-left: auto;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-xsm {
  width: 3.125rem;
  height: 3.125rem;
}

.avt-text {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--post-primary-color);
  color: var(--post-white-color);
}

.post-title-description textarea {
  background-color: var(--post-secondary-color);
}

.post-title {
  font-weight: bold;
  padding: 0.5rem 0;
}

.post-delete-confirmation {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 300px;

  align-items: center;
  gap: 1rem;
}
.post-delete-confirmation-button-wrapper {
  display: flex;
  gap: 1rem;
}
.post-btn-primary {
  padding: 1rem;
  font-weight: bold;
  background-color: var(--post-primary-color);
  color: var(--post-white-color);
  border: none;
}
.post-btn-secondary {
  padding: 1rem;
  font-weight: bold;
  background-color: var(--post-primary-color);
  color: var(--post-white-color);
  border: none;
}
@media only screen and (max-width: 600px) {
  .post-card {
    flex-direction: column;
    width: 300px;
    margin: 0 1rem;
  }

  .post-title-description textarea {
    width: 100%;
  }
  .post-image {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    height: 150px;
    flex: none;
  }
  .post-content {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
}
