.login-welcome-message {
  text-align: right;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--post-icons-color);
}

.post-create-heading-and-button {
  color: var(--post-icons-color);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-weight: bold;
}

.post-form {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form textarea {
  padding: 1rem;
  margin: 0.3rem 0;
  border: none;
  outline: none;
  background-color: var(--post-secondary-color);
}

.post-btn-primary {
  float: right;
}
.disabled-btn {
  cursor: not-allowed;
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  .login-welcome-message {
    text-align: left;
    padding-bottom: 0;
  }
}
