@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
i,
button {
  cursor: pointer;
}

:root {
  --post-background-color: #bef264;
  --post-primary-color: #84cc16;
  --post-secondary-color: #bef264;
  --post-icons-color: #365314;
  --post-heading-color: #365314;
  --post-buttons-color: #65a30d;
  --post-white-color: white;
}
